.fondoContacto{
    width: 100%;
    min-height: 85vh;
    background-image: url(/multimedia/PGL-Major-Cracovia.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    .form{

    .user{

        .inputBox input[type="reset"]{
                background: #fff;
                color: #000;
                border: none;
                font-weight: 900px;
                max-width: 100px;
                cursor: pointer;
            }
    }
    }
}