.main__form{
    width: 100%;
    min-height: 100vh;
    background-image: url(/multimedia/pgl-estocolmo-2021-1270064.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    .form{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 82vh;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 2rem;
        .user{
        position: relative;
        width: 450px;
        min-height: 300px;
        legend{
            color: #fff;
            font: 2rem;
        }
        .inputBox{
            width: 100%;
            margin-top: 1rem;
                input{
                width: 100%;
                background: transparent;
                border: none;
                border-bottom: 2px solid #fff;
                outline: none;
                font-size: 1.4rem;
                color: #fff;
                padding: 0.5rem 0;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                input[type="submit"]{
                    background: #fff;
                    color: #000;
                    border: none;
                    font-weight: 900;
                    max-width: 100px;
                    cursor: pointer;
                }
                p{
                    color: #fff; 
                    a{
                        color: rgb(252, 2, 2);
                        text-decoration: none;
                        padding-left: 1px;
                    }
                }
            }
            ::placeholder{
            color: #fff;
                }
            }
        }
    }
}